#carousel {
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
}

#image-1 {
    height: 537px;
    width: 100%;
}
#image-2 {
    height: 537px;
    width: 100%;
}
#image-3 {
    height: 537px;
    width: 100%;
}
#image-4 {
    height: 537px;
    width: 100%;
}
#image-5 {
    height: 537px;
    width: 100%;
}
#image-6 {
    height: 537px;
    width: 100%;
}