@font-face {
    font-family: HojasDePlata;
    src: url("../fonts/HojasDePlata-M5We.ttf");
}
@font-face {
    font-family: CfPlantsAndFlowersRegular;
    src: url('../fonts/CfPlantsAndFlowersRegular-gvr1.ttf');
}
@font-face {
    font-family: VinetTimesregular;
    src: url('../fonts/VineyTimesregular-vABM.ttf');
}
@font-face {
    font-family: BungaMelatiPutih;
    src: url('../fonts/BungaMelatiPutih-eLWm.ttf');
}
@font-face {
    font-family: TheLeavesOfTheForestRegular;
    src: url('../fonts/TheLeavesOfTheForestRegular-X0Gd.ttf');
}


/* ========================= Guest Navbar ================================================== */

#guest-navbar {
    background-color: black;
    border-bottom: 10px solid white;
    box-shadow: 0px 0px 10px 0px white;
    margin-bottom: 25px;

    padding: 0;
}

    #guest-navbar:hover {
        border-bottom: 10px solid #abcd32;
        box-shadow: 0px 0px 20px 0px #abcd32;
    }

/* ========================= Navbar Sapling Logo ================================================== */
#sapling-nav-logo {
    color: lawngreen;
    font-size: 70px;
    border: 2.5px solid green;
    border-radius: 50%;

    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 0;
}

    #sapling-nav-logo:hover, #app-nav-name:hover #sapling-nav-logo {
        box-shadow: 0px 0px 25px 0px limegreen;
    }


    /* ========================= Navbar App Name ================================================== */
    #app-nav-name {
        /* color: #d9e836; */
        color: white;
        font-weight: bold;
        font-size: 50px;
        font-family: BungaMelatiPutih;
        letter-spacing: 3px;
        margin-right: 5%;
        
        margin-top: -10px;
        margin-bottom: -20px;
        padding: 0;
    }
    #S {
        color: green;
        font-weight: bolder;
        font-size: 70px;
        font-family: TheLeavesOfTheForestRegular;
        -webkit-text-stroke: 1px white;
    }


/* ========================= Navbar Home Link ================================================== */
#nav-home-link {
    color: white;
    font-weight: bold;
    font-size: 13px;

    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 10px;

    margin-top: -10px;
    margin-bottom: -15px;
    padding: 0;
}
        #nav-home-icon {
            font-size: 50px;
            border-radius: 10px;
            margin-top: 20px;
            padding: 5px;
        }
            #nav-home-icon:hover, #nav-home-link:hover #nav-home-icon {
                color: black;
                background-color: white;
                box-shadow: 0px 0px 25px 0px white;
            }


/* ========================= Navbar Home Link ================================================== */
#nav-news-link {
    color: white;
    font-weight: bold;
    font-size: 13px;

    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 10px;

    margin-top: -10px;
    margin-bottom: -15px;
    margin-left: 10%;
    padding: 0;
}
        #nav-news-icon {
            font-size: 25px;
            border-radius: 10px;
            margin-top: 20px;
            padding: 5px;
        }
            #nav-news-icon:hover, #nav-news-link:hover #nav-news-icon {
                color: black;
                background-color: white;
                box-shadow: 0px 0px 25px 0px white;
            }


/* ========================= Navbar additional Link ================================================== */
#nav-link-link {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;

    background-color: black;
    border: 5px solid black;
    border-radius: 10px;
}

/* ========================= Navbar Login Modal ================================================== */


#login-modal-button {
    color: white;
    font-weight: bold;
    font-size: 13px;

    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 10px;

    margin-top: -10px;
    margin-bottom: -15px;

    margin-right: 2.5%;

    padding: 0;
}
    #login-button-icon {
        font-size: 50px;
        border-radius: 10px;
        margin-top: 20px;
        padding: 5px;
    }
        #login-button-icon:hover, #login-modal-button:hover #login-button-icon {
            color: black;
            background-color: white;
            box-shadow: 0px 0px 25px 0px white;
        }

#login-modal-body {
    background-color: black;
    border: 10px solid white;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#modal-heading-logo {
    color: lawngreen;
    font-size: 55px;
    border: 2.5px solid green;
    border-radius: 50%;
    margin-right: 10px;

    padding: 0;
}

#S2 {
    color: black;
    font-weight: bolder;
    font-size: 50px;
    font-family: TheLeavesOfTheForestRegular;
    -webkit-text-stroke: 1px black;
}
#apling {
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: BungaMelatiPutih;

    padding: 0;
}
#modal-heading {
    color: black;
    font-weight: bold;
    font-size: 25px;
    /* font-family: BungaMelatiPutih; */

    margin: 0;
    margin-top: 10px;
    margin-bottom: -15px;
    padding: 0;
}

#email-logo {
    color: #ffbb00;
}
#password-logo {
    color: #6a99ff;
}

    #sign-in {
        background-color: black;
        border: 5px solid black;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 17px;
    }

        #sign-in:hover {
            border: 5px solid #abcd32;
            box-shadow: 0px 0px 10px 0px #abcd32;
        }
    #sign-in:hover #sign-in-logo {
        color: limegreen;
    }

    #sign-up {
        background-color: black;
        border: 5px solid black;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 17px;
    }

        #sign-up:hover {
            border: 5px solid #abcd32;
            box-shadow: 0px 0px 10px 0px #abcd32;
        }
    #sign-up:hover #sign-up-logo {
        color: limegreen;
    }


    #first-name-logo {
        color: green;
    }
    #last-name-logo {
        color: limegreen;
    }
    #confirm-logo {
        color: #8cc7e9;
    }


    #submit {
        background-color: black;
        border: 5px solid black;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 17px;
    }

        #submit:hover {
            border: 5px solid #abcd32;
            box-shadow: 0px 0px 10px 0px #abcd32;
        }
    #submit:hover #submit-logo {
        color: limegreen;
    }


/* ========================= Search Bar ================================================== */
#search-bar {
    width: 42%;
    margin-left: 10%;
}